$main-color: #4C505B;

.page{
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0.8rem auto;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf')  format('truetype');
}

html {
  font-size: 13px;
}

main {

  .container {
    font-family: 'OpenSans', 'Helvetiva Bold', sanf-serif;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }

  .spacer{
    height: 5rem;
  }

  .content{
    flex: 2;
    position: relative;

    .section {
      margin: 1rem;

      .section-title {
        text-transform: uppercase;
        font-size: 1rem;
        margin-left: 1.5rem;
        letter-spacing: 0.15rem;
      }
    }
  }

  .sidebar {
    color: #fff;
    flex: 1;
    background-color: $main-color;

    .sidebar-header{
      margin: 3rem 0;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        height: 12rem;
        filter: grayscale(100%);
      }
    }

    .item{
      margin: 1rem 0 1rem 1.5rem;
      display: flex;

      .item-icon{
        font-size: 2rem;
        margin-right: 1rem;
      }

      .item-title{
        font-weight: bold;
      }

      .item-value{
        font-size: 0.9rem;
      }
    }

    .sidebar-title {
      margin-left: 1rem;
      font-variant: small-caps;
      font-weight: bold;
      display: flex;
      font-size: 1.5rem;
      white-space: nowrap;

      .sidebar-title-rule {
        width: 100%;
        margin-left: 0.5rem;
        padding-top: 0.5rem;
      }
    }

  }

  .header {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
      margin: 0;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.3rem;
    }

    .subtitle{
      margin: 0;
      font-variant: small-caps;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      font-weight: normal;
    }

  }

  .list {
    .list-item{
      display: flex;
      margin: 0.8rem 0;

      .list-title{
        flex: 1;
        text-align: right;
        margin-right: 1rem;
      }

      .list-content{
        flex: 4;
        padding-right: 2rem;
      }

      .list-description{
        font-weight: bold;
      }

      .list-subtitle{
        font-size: 0.9rem;
        font-style: italic;
      }

      .list-text{
        font-size: 0.8rem;
        text-align: justify;
      }


    }
  }

  footer {
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    margin: 0 1rem;
  }


}
